doctype html
head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
body.container
    h3='How it works'
    p='Ticket system is a new help desk'
    ul
        li
            p='Send us a ticket with detailed information of your problem. The more detail you give, the better!'
        li
            p='We check our tickets and contact you during working hours 8:00-16:00.'
            p='Sometimes there might be a lot of tickets at the same time, so be patient!'
        li
            p='When the problem is solved the ticket will be closed in our system.'

    a(href='/') > Home <